<mat-card class="max-w-md mx-auto mt-10 p-4">

  <h2 class="text-xl font-bold mb-4">Signup</h2>

  <form [formGroup]="form" (ngSubmit)="onSubmit()">

    <mat-form-field class="w-full mb-3">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name" />
    </mat-form-field>

    <mat-form-field class="w-full mb-3">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" />
    </mat-form-field>

    <mat-form-field class="w-full mb-3">
      <mat-label>Password</mat-label>
      <input matInput type="password" formControlName="password" />
    </mat-form-field>

    <button 
      mat-raised-button 
      color="accent" 
      class="w-full"
      [disabled]="loading()"
    >
      {{ loading() ? 'Creating...' : 'Signup' }}
    </button>

  </form>

</mat-card>